*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Common */

.container{
    padding: 0 2.5rem;
}

.flex{
    display: flex;
}

.wrap{
     flex-wrap: wrap;
}
.justify-content{
    justify-content: center;
}

/* Common */

/* Header */

header{
    background-color: #0084fd;
    padding: 2.5rem;
}

.cont-head{
    justify-content: space-between;
}

.links{
    display: none;
    list-style-type: none;
}

@media screen and (min-width: 992px) {
    
    .links{
       display: block;
       display: flex;
   }

   .font-aws{
       display: none;
   }
}

/* Header */


/* Main */

/* Section-01 */



.container-main-01{
    display: flex;
    flex-wrap: wrap;
    padding: 1.875rem;
}

.box{
    background-color: #b5ddff;
    padding: 1.875rem;
    width: 100%;
    text-align: center;
    border-radius: 30px;
    margin-top: 10px;   
}

@media screen and (min-width: 768px) {
    .box{
        width: calc(100% /3);
        height: 300px;
        background-color: #b5ddff;
        border-radius: 20px;
    }
    .box:first-child{
        width: calc((100% /3) *2);
        display: flex;
        flex-wrap: wrap;
    }
}

/* Section-01 */

/* Section-02 */

.section02{
    background-color: #9792e4;
    margin-top: 2.1875rem;
}

.section02 > div:last-child{
    background-color: white;
    border-radius: 20px;
    padding: 20px;
}

@media screen and (min-width:992px) {
    .section02{
        display: flex;
        justify-content: end;
    }
}


/* Section-02 */

/* Section-03 */


.box-section03{
    background-color: #9792e4;
    border-radius: 20px;
    text-align: center;
    margin:20px 0
}

.section-03 > div:first-child{
    text-align: center;
}

@media screen and (min-width:768px) {
    .box-section03{
        display: flex;
    }
}


/* Section-03 */

/* Section-04 */

.section-04{
    background-color: #9792e4;
    
}

.box-section04{
    background-color: white;
    width: 80%;
    border-radius: 20px;
}

@media screen and (min-width:992px) {
    .box-section04{
        display: flex;
        flex-wrap: wrap;
        width: calc(100% /3);
    }
}

@media screen and (min-width:768px) {
    .box-section04{
        display: flex;
        flex-wrap: wrap;
        width: calc(100% /2);
    }
}

/* Section-04 */